/AKAZE.class
/AgastFeatureDetector.class
/BFMatcher.class
/BOWImgDescriptorExtractor.class
/BOWKMeansTrainer.class
/BOWTrainer.class
/BRISK.class
/DescriptorExtractor.class
/DescriptorMatcher.class
/FastFeatureDetector.class
/Feature2D.class
/FeatureDetector.class
/Features2d.class
/FlannBasedMatcher.class
/GFTTDetector.class
/KAZE.class
/MSER.class
/ORB.class
/Params.class
