/ANN_MLP.class
/Boost.class
/DTrees.class
/EM.class
/KNearest.class
/LogisticRegression.class
/Ml.class
/NormalBayesClassifier.class
/ParamGrid.class
/RTrees.class
/SVM.class
/SVMSGD.class
/StatModel.class
/TrainData.class
