/AllJUnitTests.class
/Coordinate.class
/ImageAnalyser.class
/ImageModifier$1.class
/ImageModifier$10.class
/ImageModifier$11.class
/ImageModifier$12.class
/ImageModifier$2.class
/ImageModifier$3.class
/ImageModifier$4.class
/ImageModifier$5.class
/ImageModifier$6.class
/ImageModifier$7.class
/ImageModifier$8.class
/ImageModifier$9.class
/ImageModifier.class
/Main$1.class
/Main$2.class
/Main$3.class
/Main$4.class
/Main$5.class
/Main.class
/NonExistingLabelException.class
/Progress.class
/TestImageAnalyser.class
/TestImageModifier.class
/ImageModifier$13.class
/ImageModifier$1$1.class
/ImageModifier$1$2.class
/ImageModifier$1$3.class
/ImageModifier$1$4.class
/ImageModifier$14.class
/ImageModifier$15.class
/ImageModifier$16.class
/ImageModifier$17.class
/ImageModifier$18.class
/Main$5$1.class
/Main$5$2.class
/Main$5$3.class
/Main$5$4.class
/Main$5$10.class
/Main$5$11.class
/Main$5$12.class
/Main$5$13.class
/Main$5$14.class
/Main$5$15.class
/Main$5$5.class
/Main$5$6.class
/Main$5$7.class
/Main$5$8.class
/Main$5$9.class
/Main$6$1.class
/Main$6$10.class
/Main$6$11.class
/Main$6$12.class
/Main$6$13.class
/Main$6$14.class
/Main$6$15.class
/Main$6$2.class
/Main$6$3.class
/Main$6$4.class
/Main$6$5.class
/Main$6$6.class
/Main$6$7.class
/Main$6$8.class
/Main$6$9.class
/Main$6.class
/Main$2$1.class
/ImageModifier$19.class
/ImageModifier$2$1.class
/ImageModifier$3$1.class
/ImageModifier$20.class
/ImageModifier$21.class
/ImageModifier$22.class
/TestImageModifier$1.class
/TestImageModifier$2.class
/ImageModifier$23.class
/ImageModifier$4$1.class
/ImageModifier$24.class
/Main$3$1.class
/Main$7$1.class
/Main$7$10.class
/Main$7$11.class
/Main$7$12.class
/Main$7$13.class
/Main$7$14.class
/Main$7$15.class
/Main$7$2.class
/Main$7$3.class
/Main$7$4.class
/Main$7$5.class
/Main$7$6.class
/Main$7$7.class
/Main$7$8.class
/Main$7$9.class
/Main$7.class
/Main$1$1.class
/ImageModifier$25.class
/ImageModifier$26.class
/ImageModifier$27.class
/ImageModifier$28.class
/ImageModifier$29.class
/ImageModifier$30.class
/ImageModifier$31.class
/Main$10$1.class
/Main$10.class
/Main$4$1.class
/Main$8.class
/Main$9.class
/Main$11$1.class
/Main$11.class
/Main$12$1.class
/Main$12.class
/Main$8$1.class
/Main$13$1.class
/Main$13.class
/Main$9$1.class
/Main$14$1.class
/Main$14.class
/Main$3$2.class
/Main$4$2.class
